<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../../../app/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         cacheResult="false"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
    <env name="SIMPLETEST_BASE_URL" value="http://nginx"/>
    <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename -->
    <env name="SIMPLETEST_DB" value="mysql://drupal:drupal@mysql/drupal"/>
    <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/tmp"/>
    <!-- To have browsertest output use an alternative base URL. -->
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <!-- To disable deprecation testing completely uncomment the next line. -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">../../../app/modules/custom/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory suffix="Test.php">../../../app/modules/custom/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix="Test.php">../../../app/modules/custom/*/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory suffix="Test.php">../../../app/modules/custom/*/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="build">
      <directory suffix="Test.php">../../../app/modules/custom/*/tests/src/Build</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <!-- Filter for coverage reports. -->
  <filter>
    <whitelist>
      <directory suffix=".php">../../../app/modules/custom/*</directory>
      <exclude>
        <directory>../../../app/modules/custom/*/tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>