:root {  
  --font-size-default: 1.4rem;
  
  --header_height: 7.5rem;
  
  --color-white: #FFFFFF;
  --color-white-bg: #FEFEFF;
  --color-black: #000000;
  --color-red-dark: #9F212D;
  --color-blue-dark: #051C2C;
  --color-blue-medium: #004F95;
}
  